#wonList {
	position: fixed;
	min-height: 100px;
	width: 300px;
	top: 25%;
	right: 10px;
	bottom: auto;
	z-index: 2000;
	-webkit-border-radius: 6px 6px 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #97B0DA;
	-webkit-transform-origin: 100% 0;
	-webkit-transform: rotate(-90deg);
	-webkit-transition: all 0.3s linear; 
}

.won-list-header [class^="icon-"],[class*=" icon-"] {
	visibility: hidden;
}

#wonList:hover .won-list-header [class^="icon-"],[class*=" icon-"] {
	visibility: visible;
}

#wonList:hover {
	right: 0;
	-webkit-transform: rotate(0deg);
	-webkit-border-radius: 6px 0 0 6px;
}

#wonList:hover .won-list-header {
	-webkit-border-radius: 6px 0 0 0;
}

#wonList .won-list-header {
	color: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.298039);
	background-color: #5075B4;
	-webkit-border-radius: 6px 6px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rbga(0,0,0,0.5);
}

.won-list-header h3 {
	display: inline-block;
	margin: 0;
	color: #FFF;
	text-align: center;
	padding: 8px 10px;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	font-size:14pt;
}

.won-list-body {
	height: 200px;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.won-entry {
	-webkit-border-radius: 4px;
	background: transparent;
	margin: 10px 5px;
	-webkit-transition: all 0.3s linear; 
	color: #fff;
	cursor: default;
	position: relative;
}

.won-entry.configure,
.won-entry:hover {
	background-color: #5075B4;
}

.won-add {
	display: inline-block;
	color: #FFF;
	padding: 13px 10px;
	background: transparent;
	-webkit-border-radius: 5px 0 0 0;
}

.won-add:hover {
	background: #1A3C75;
	color: #FFF;
}

.won-entry > .insert-won {
	display: inline-block;
	color: #FFF;
	padding: 9px 10px;
	border-radius: 6px 0 0 6px;
}

.won-entry > .insert-won:hover {
	background: #1A3C75;
}

.configure-won {
	float: right;
	display: none;
	color: #FFF;
	padding: 9px 10px;
	border-radius: 0 6px 6px 0;
}

.configure .configure-won,
.won-entry:hover .configure-won {
	display: inline-block;
}

.configure .configure-won,
.configure-won:hover {
	background: #1A3C75;
	color: #FFF;
}

.won-options {
	background: #1A3C75;
	display: none;
	position: relative;
	padding: 5px 0;
	margin: 0;
	z-index: 1000;
	list-style: none;
	border-radius: 0 0 6px 6px;
	zoom: 1;
	clear: none;
	text-align: right;
	width: 100%;
}

.won-options:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.configure .configure-won {
	border-radius: 0 6px 0 0;
}

.configure .won-options {
	display: inline-block;
}

.won-options li {
	float: left;
	position: relative;
}

.won-options a {
	color: #FFF;
	display: inline-block;
	padding: 3px 2px;
}

.won-options a:hover {
	color: #97B0DA;
}
